#
the checkpoint hoohaw
.ipynb_checkpoints/
/predicting_M200/.ipynb_checkpoints/
/galaxy_feature_clustering/.ipynb_checkpoints/

# the pycache hoohaw
/predicting_M200/__pycache__
/predicting_M200/scripts/__pycache__
/galaxy_feature_clustering/__pycache__
/galaxy_feature_clustering/utils/__pycache__
/galaxy_feature_clustering/stability_tests/__pycache__

# some .idea directory, whatever that is.
/galaxy_feature_clustering/.idea

# the...(Nintendo) .DS_Store?
.DS_Store
/predicting_M200/.DS_Store
/galaxy_feature_clustering/.DS_Store

# for now, OSRS data directory
/osrs_star_spawns

# the galaxy clustering SCIENCE .ipynb
/galaxy_feature_clustering/feature_clustering_science.ipynb

# the galaxy clustering PDFs directory
/galaxy_feature_clustering/pdfs

# the galaxy clustering images directory
/galaxy_feature_clustering/data/images

# generated outputs
*.pdf
**/pdfs/
